<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>
<h3>NUMERO : <%= @visite.numero%></h3>
<%= form_for @visite, url: {action: "saveVisite",  :id => @visite.id}, method: :post do |f| %>
  <div class = "col-md-6">
    <%= hidden_field_tag 'inputEchantillon' %>
    <%= f.hidden_field :status, :value => "FI" %>
    <h4><%= f.label :date_visite, "Date" %></h4>
    <h5><%= f.date_field :date_visite, class: "form-control" %></h5>
    <h4><%= f.label :idPraticien, "Praticien" %></h4>
    <h5><%= f.collection_select :idPraticien, @praticiens.order(:firstname),:id,:firstname, {}, {class: "form-control"} %></h5>
    <h4><input type="checkbox" class = "showHideRemplacent"></input><%= f.label :idPraticienRemplacant, "Remplacent" %></h4>
    <h5><%= f.collection_select :idPraticienRemplacant, @praticiens.order(:firstname),:id,:firstname,{},{:disabled => "disabled" } %></h5>
    <h4><%= f.label :coefficient %></h4>
    <h5><%= f.text_field :coefficient, class: "form-control" %></h5>
    <h4><%= f.label :motif %></h4>
    <h5><%= f.collection_select :motif, @motifs,:title,:title, {}, {class: "form-control"} %></h5>
    <h4><%= f.label :bilan %></h4>
    <h5><%= f.text_area :bilan, class: "form-control" %></h5>
  </div>
  <div class = "col-md-6">
    <h3>Produits</h3>
    <h4><%= f.label :produit1, "Produit 1 : " %></h4>
    <h5><%= f.collection_select :produit1, @produits.order(:nomcommercial),:nomcommercial,:nomcommercial, {}, {class: "form-control"} %></h5>
    <h4><%= f.label :produit2, "Produit 2 : " %></h4>
    <h5><%= f.collection_select :produit2, @produits.order(:nomcommercial),:nomcommercial,:nomcommercial, {}, {class: "form-control"} %></h5>
    <h3>Echanitllons</h3>
    <%= f.collection_select :produit2, @produits.order(:nomcommercial),:nomcommercial,:nomcommercial, {}, {id: "echantillon"} %>
    <a class = "btn btn-primary" id = "add">Ajoutez</a>
    <div class = "echantillons">
      <table class="table">
        <thead>
        <tr>
            <th>Numero</th>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody class ="echantillonsChoisies">
        </tbody>
      </table>
    </div>
  </div>
  <div style = "text-align:center" class = "col-md-12">
    <%= f.submit "Valider", class: "btn btn-primary" %>
  </div>
<% end %>

<script>
deleteEchantillon()
change()

function change(){
  $('.echantillon').off();
}

function addToInput(echnat){
  if($('#inputEchantillon').val() == ""){
    $('#inputEchantillon').val(echnat)
  }else{
    sd = $('#inputEchantillon').val() + "," + echnat
    $('#inputEchantillon').val(sd)
  }
}

function deleteFromInput(echnat){
  echantillons = $('#inputEchantillon').val().replace(echnat, "")
  $('#inputEchantillon').val(echantillons)
}

function recompterNum(){
  $('.echantillonsChoisies tr td:first-child').each(function( index, element ) {
    $(this).html(index + 1)
  })
}

$('#add').click(function() {
  if ($('.echantillon').length <= 9){
    var num = $('.echantillon').length + 1
    addToInput($("#echantillon option:selected").text())
    $(".echantillonsChoisies").append( "<tr class =\"echantillon\"><td id = \"numero\">"+ num + "</td><td id = \"title\""+num+" >"+ $("#echantillon option:selected").text() +"</td><td><a class = \"deleteEchantillon\">Supprimer</a></td></tr>" );
    selected_el = $("#echantillon option:selected").text()
    $('#echantillon option').each(function( index, element ) {
      if ($(element).text() == selected_el){
        $(element).remove()
      }
    });
  }else{
    alert("Vous pouvez avoir que 10 echantillons a la fois")
  }

  deleteEchantillon()
  change()
});

function deleteEchantillon(){
  $('.deleteEchantillon').off();
  $( '.deleteEchantillon' ).click(function(){
    name = $(this).parent().parent().children('td').slice(1).html()
    $("#echantillon").append('<option value="'+name+'">'+name+'</option>')
    $(this).parent().parent().remove()
    deleteFromInput(name)
    recompterNum()
    change()
  });
}


$( document ).ready(function() {
    $('#visite_idPraticienRemplacant').css('visibility', "hidden")

  $('.showHideRemplacent').click(function() {
    if ($('input.showHideRemplacent').is(':checked')) {
      $('#visite_idPraticienRemplacant').prop('disabled', false)
      $('#visite_idPraticienRemplacant').css('visibility', "visible")
    }else{
      $('#visite_idPraticienRemplacant').prop('disabled', true)
      $('#visite_idPraticienRemplacant').css('visibility', "hidden")
    }
  });
});
</script>
