<div class = "navbarLeft">
  <h3>Comptes-Rendus</h3>
  <%= link_to "Nouveaux", nouveaux_path%>
  <%= link_to "Consulter", consulter_path%>
  <h3>Consulter</h3>
  <%= link_to "Médicaments", medicaments_path%>
  <%= link_to "Praticiens", praticiens_path%>
  <%= link_to "Autres visiteurs", autres_visiteurs_path%>
  <%= link_to("Se déconnecter", destroy_user_session_path, method: :delete) %>  
</div>
