<div class = "navbarLeft">

  <%if current_user.typeUser == "V" || current_user.typeUser == "D" %>
    <h3>Comptes-Rendus</h3>
    <%= link_to "Nouveaux", nouveaux_path%>
    <%= link_to "Consulter", consulter_path%>
  <%end%>
  <h3>Consulter</h3>
  <%= link_to "Médicaments", medicaments_path%>
  <%= link_to "Praticiens", praticiens_path%>
  <%if current_user.typeUser == "R" || current_user.typeUser == "D" %>
    <%= link_to "Autres visiteurs", autres_visiteurs_path%>
  <%end%>
  <h3><%= current_user.nom  + " " +current_user.prenom%></h3>
  <%if current_user.typeUser == "V"%>
    <p><i>Visiteur</i></p>
  <%elsif current_user.typeUser == "D"%>
    <p><i>Délégué régional</i></p>
  <%elsif current_user.typeUser == "R"%>
    <p><i>Responsable de secteur</i></p>
  <%end%>
  <%= link_to("Se déconnecter", destroy_user_session_path, method: :delete) %>

</div>
